.heading{
    width: 100%;
    font-size: 24px;
    box-shadow: gray;
}
.heading p {
    color: white;
    font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    float: none;
    bottom: 0;
    background-color: grey;
    color: white;
    line-height: 3;
    text-align: center;
    width: 100%;
}